<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap" rel="stylesheet">
    <link href="{{ url_for('static', path='style.css') }}" rel="stylesheet">  
    <title>Sentiment Classification</title>
</head>

<body>
    <div class="header">
        <h1 class="title">
            Sentiment classification
        </h1>
        <form class="form_add_cmt" action="" method="post">
            <input class="input_add" type="text" name="comment" id="comment">
            <button class="btn_add" type="submit">Add new comment</button>
        </form>
    </div>
    
    {% for comment in list_comments %}
    <div class="comment_set">
        <h3 class='{{"comment_content_" + comment["sentiment"]}}'>{{comment["comment"]}}</h3>
        <div class='{{"sentiment_content" + " " + comment["sentiment"]}}'> {{comment["sentiment"]}} </div>
    </div>
    {% endfor %}
</body>

</html>